h1 {
    font-size: 30px;
    color: white;
}

body {
    background-color: rgb(83, 131, 232);
}

.menu_item {
    float: left;
}

.talk {
    position: relative;
    top: 10px;
    left: 150px;
    width: 80%;
    height: 300px;
    background-color: white;
}

.search {
    text-align: center;
    position: relative;
    top: 10px;
    left: 35%;
    width: 30%;
    height: 100px;
    background-color: white;
}

li {
    list-style: none;
    width: 8%;
}

a {
    text-decoration: none;
    text-align: center;
    color: white;
}


/*TO DO*/


/*CSS 공부*/